html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
body {
    margin: 0;
}
h1{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}
h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 400px;
}
p {
    font-size: 20px;
    font-weight: 300px;
}
#button {
    font-size: 40px;
    background-color: #fd8a8a;
    text-align: center;
}
.top-nav {
    background-color: #fd8a8a;
    padding: 30px 50px 30px 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.main-title {
    width: 90%;
    padding: 30px;
    margin: auto;
}
.beats-game {
    background-image: url("./images/young-beautiful-woman-bright-sportwear-isolated-gradient-pink-blue-background-neon-light.jpg");
    background-position: top;
    background-size: cover;
    height: 1200px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-start;
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}
.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-start;
}
.key {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border: 2px solid white;
    color: white;
    background-color: rgb(0,0,0,0.4);
    padding: 20px;
    margin: 10px;
    width: 100px;
    text-align: center;
}
.rock-game {
    padding: 50px;
    height: auto;
}
#key-board, #ui {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.key-pad {
    font-size: 100px;
    background-color: #f1f7b5;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.tip {
    font-size: 40px;
}
.play-touch {
    font-size: 50px;
    background-color: #fd8a8a;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}
.key-touch {
    font-size: 100px;
    background-color: #a8d1d1;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#game-info {
    width: 70%;
    margin: auto;
    font-size: 40px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
#player-choice {
    background-color: #3a4f7a;
    color: white;
    padding: 30px;
    width: 500px;
    margin: auto;
    height: auto;
    border: 3px solid black;
}
#computer-choice {
    background-color: #f1f7b5;
    padding: 30px;
    width: 500px;
    margin: auto;
    height: auto;
    border: 3px solid black;
}
#scores {
    padding: 30px;
    width: 70%;
    margin: auto;
    height: auto;
    border: 3px solid black;
}
#who-wins {
    font-size: 50px;
    padding: 20px;
}
#player-scores{
    padding: 30px;
    border: 3px solid black;
}
#computer-scores {
    padding: 30px;
    border: 3px solid black;
}
.winner {
    z-index: 1;
    font-size: 100px;
    padding: 30px;
    position: fixed;
    background-color: #fd8a8a;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}
.winner.active {
    transform: translate(-50%,-50%) scale(1);
}
#final-winner {
    padding: 30px;
}
#restart {
    background-color: transparent;
    padding: 10px;
    border: 10px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    color: white;
}
.copyright {
    text-align: center;
    font-size: 40px;
    background-color: #a8d1d1;
    padding: 20px;
    margin: 0;
}
